# Final Project Baseline

Load train and test data: assess shape to confirm we have way more observations in the test set than in the training set.   


Considerations: normalization, feature selection, multilevel structure, metrics that are relevant (false positives, false negatives, etc.)  
A lot less data in the training set than in the test set. It needs to generalize well!   

Data cleaning: what do we do about NaN values?


Baseline: simple linear model 

Could use a ton of models, based on papers I have found:
- Multinomial regression
- Random forest
- Neural networks

How to leverage ensemble methods to obtain the best result?

In [10]:
import numpy as np
import zipfile
from pandas.plotting import scatter_matrix
import pandas as pd

In [4]:
from numpy import genfromtxt
my_data = genfromtxt('forest-cover-type-prediction/train.csv', delimiter=',')

In [5]:
my_data.shape

(15121, 56)

In [20]:
my_data[0:5,:]

array([[       nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan,        nan,        nan,        nan,        nan,
               nan],
       [ 1.000e+00,  2.596e+03,  5.100e+01,  3.000e+00,  2.580e+02,
         0.000e+00,  5.100e+02,  2.210e+02,  2.320e+02,  1.480e+02,
         6.279e+03,  1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         5.000e+00],
       [ 2.000e+00,  2.590e+03,  5.600e+01,  2.000e+00,  2.120e+02,
        -6.000e+00,  3.900e+02,  2.200e+02,  2.350e+02,  1.510e+02,
         6.225e+03,  1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         5.000e+00],
       [ 3.000e+00,  2.804e+03,  1.390e+02,  9.000e+00,  2.680e+02,
         6.500e+01,  3.180e+03,  2.340e+02,  2.380e+02,  1.350e+02,
         6.121e+03,  1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         2.000e+00],
       [ 4.000e+00,  2.785e+03,  1.550e+02,  1.800e+01,  2.420e+02,
         1.180e+02,  3.090e+03,  2.380e+02,  2.380e+02,  1.220e+02,
         6.211e+03,  1.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  1.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         2.000e+00]])

In [11]:
df = pd.DataFrame(my_data)

In [21]:
df.isnull().sum()

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
50    1
51    1
52    1
53    1
54    1
55    1
dtype: int64

In [26]:
#Generate non-null subset
df_sub = df.iloc[1:,:]

In [32]:
print(df_sub.describe())

                0             1             2             3             4   \
count  15120.00000  15120.000000  15120.000000  15120.000000  15120.000000
mean    7560.50000   2749.322553    156.676653     16.501587    227.195701
std     4364.91237    417.678187    110.085801      8.453927    210.075296
min        1.00000   1863.000000      0.000000      0.000000      0.000000
25%     3780.75000   2376.000000     65.000000     10.000000     67.000000
50%     7560.50000   2752.000000    126.000000     15.000000    180.000000
75%    11340.25000   3104.000000    261.000000     22.000000    330.000000
max    15120.00000   3849.000000    360.000000     52.000000   1343.000000

                 5             6             7             8             9   \
count  15120.000000  15120.000000  15120.000000  15120.000000  15120.000000
mean      51.076521   1714.023214    212.704299    218.965608    135.091997
std       61.239406   1325.066358     30.561287     22.801966     45.895189
min     -146.000000      0.000000      0.000000     99.000000      0.000000
25%        5.000000    764.000000    196.000000    207.000000    106.000000
50%       32.000000   1316.000000    220.000000    223.000000    138.000000
75%       79.000000   2270.000000    235.000000    235.000000    167.000000
max      554.000000   6890.000000    254.000000    254.000000    248.000000

       ...            46            47            48            49  \
count  ...  15120.000000  15120.000000  15120.000000  15120.000000
mean   ...      0.045635      0.040741      0.001455      0.006746
std    ...      0.208699      0.197696      0.038118      0.081859
min    ...      0.000000      0.000000      0.000000      0.000000
25%    ...      0.000000      0.000000      0.000000      0.000000
50%    ...      0.000000      0.000000      0.000000      0.000000
75%    ...      0.000000      0.000000      0.000000      0.000000
max    ...      1.000000      1.000000      1.000000      1.000000

                 50            51            52            53            54  \
count  15120.000000  15120.000000  15120.000000  15120.000000  15120.000000
mean       0.000661      0.002249      0.048148      0.043452      0.030357
std        0.025710      0.047368      0.214086      0.203880      0.171574
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000      1.000000      1.000000

                 55
count  15120.000000
mean       4.000000
std        2.000066
min        1.000000
25%        2.000000
50%        4.000000
75%        6.000000
max        7.000000

[8 rows x 56 columns]

In [33]:
df_zip = pd.read_csv("forest-cover-type-prediction/train.csv.zip")

In [34]:
df_zip.shape
#This appears to be the same dataset!

(15120, 56)

#We have loaded our csv training data
#We know what the columns mean
0. count
1. elevation
2. aspect
3. slope
4. Horizontal_Distance_To_Hydrology
5. Horizontal_Distance_To_Roadways
6. Hillshade_9am
7. Hillshade_Noon
8. Hillshade_3pm
9. Horizontal_Distance_To_Fire_Points  
10-13. Wilderness_Area  
14-54. Soil_Type  
55. Cover_Type (our output)